extends ./header.jade

block content
	body
		.container
			.row
				.col-md-8.col-md-offset-4
					form(action="/quotes" method="POST" )
						.form-group.down
							input(type='text', name="name", placeholder='symbol or company name here')
							input(type="submit", value="stock value", class="getQuote")
							//- input(type='text', name='quantity', placeholder='# shares to buy')
							//- input(type='submit', name='buy', value='buy stock')
			.row.listQuote
				.col-md-4
					p Company Name:
					p #{name}
				.col-md-4
					p Company Symbol:
					p #{symbol}
				.col-md-4
					p Current price of stock:
					p #{price}
					button.btn.btn-primary.buy(data-toggle="modal" data-target="#sharesModal") buy shares?



					//- a.btn.btn-default.btn-lg.buy(data-toggle="modal" data-target="#buyModal") buy shares?
			.row
				.col-md-8.col-md-offset-4

			#sharesModal.modal.fade(role="dialog")
				.modal-dialog
					.modal-content
						.modal-body
							form(action='/test/butt' method="POST" class="container")
								input(type="text", value='#{name}', class="getQuote")
								input(type="text", value='#{symbol}', class="getQuote")
								input(type="text", value='#{price}', class="getQuote")
								label(for="quantityShares") Enter number of shares to buy
								input.form-control(name="quantityShares", type='text')
								input.btn.btn-primary(type="submit", value="buy", class="button", data-dismiss="modal")
						.modal-footer


	script(src='../vendor/jquery/dist/jquery.min.js')
	script(src='../vendor/bootstrap/dist/js/bootstrap.js')
